html {
  font-size: 10px;
  background: url(images/concertbg.jpg) bottom center;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title{
  flex-direction: column;
  color: white;
}

.title p {
  font-family: 'Rock Salt', cursive;
  text-transform: capitalize;
  font-size: 6rem;
  font-weight: bold;
}

.title span {
  font-size: 3rem;
}

.title p,
.title span {
   text-shadow:
      3px 3px 0 #000,
      -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.keys {
  flex: 1;
  min-height: 70vh;
}

.key {
  border: .2rem solid #374B30;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.3);
  border-color: #74FF47;
  box-shadow: 0 0 1rem #74FF47;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #74FF47;
}

.footer {
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 2rem;
}